:root{
    --panel-border-radius: 13px;
}

.article_panel_container{
    padding: 18px 18px 18px 0px;
    max-width: 60vw;
  }
  
  .article_panel{
    background: #ffffff;
    border-radius: var(--panel-border-radius);
  }
  
  .article_panel:hover{
    background-color: var(--secondary-color);
    /* background-color: #319778; */
    transition: 0.3s;
  }

  .no_text_decor{
    color: var(--font-dark-color);
  }
  
  .no_text_decor:hover{
    color: var(--font-light-color);
  }

  .flex-container{
      display: flex;
      align-items: center;
  }

  .flex-container .image-container{
      flex: 2;
  }

  .flex-container .image-container img{
      width: 100%;
      border-radius: var(--panel-border-radius) 0px 0px var(--panel-border-radius);
      float: left;
  }

  .flex-container .text-container{
      flex: 5;
      padding: 2em;
      font-weight: 500;
  }

@media only screen and (max-width: 768px) {
    .flex-container {flex-direction: column;}
    .flex-container .text-container {padding: 0.7em;}
}
