.accordion-section{
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 11px 1px #000000; 
    box-shadow: 0px 0px 11px 1px #000000;
}

.accordion{
    background-color: #465A89;
    
    color: #eee;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.accordion:hover,
.active{
    background-color: #38486D;;
}

.accordion-title{
    font-weight: 600;
    font-size: 1.33em;
}

.accordion-icon{
    margin-left: auto;
    transition: transform 0.3s ease;
}

.rotate{
    transform: rotate(90deg);
}

.accordion-content-div{
    background-color: #FFFFFF;
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 0;
}

.accordion-content{
    font-weight: 400;
    font-size: 14px;
    padding: 20px;
    color: #393E3F;
}

@media screen and (max-width: 768px) {
    .accordion-content{font-size: 12px; padding: 12px;}
}